.container {
  max-width: 1260px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.blinking {
  -webkit-animation: blinkingText 1.2s infinite;
          animation: blinkingText 1.2s infinite;
}

@-webkit-keyframes blinkingText {
  0% {
    color: #314859;
  }
  49% {
    color: #314859;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #314859;
  }
}

@keyframes blinkingText {
  0% {
    color: #314859;
  }
  49% {
    color: #314859;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #314859;
  }
}

.fade-in {
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn, .btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
  font-weight: 800;
}

.btn:hover, .btn-primary:hover, .btn-secondary:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #fda117;
  border: 1px solid #fda117;
  color: white;
}

.btn-primary:hover {
  background-color: white;
  border: 1px solid #fda117;
  color: #fda117;
}

.btn-secondary {
  background-color: #bccddc;
  border: 1px solid #bccddc;
  color: #314859;
}

.btn-secondary:hover {
  background-color: #314859;
  border: 1px solid #314859;
  color: white;
}

.modal-container {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.modal {
  min-width: 25rem;
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
}

.modal-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15%;
}

.modal-title {
  font-size: 1.75rem;
  font-weight: 700;
}

.modal-content {
  padding-top: 1rem;
}

.modal-footer {
  width: 100%;
}

.modal-close:hover {
  cursor: pointer;
}

.new-game {
  background-color: #314859;
}

.new-game-content-row {
  width: 100%;
  padding: 0.5rem 0;
}

.new-game-content-label {
  font-weight: 700;
}

.new-game-content-options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.35rem;
}

.new-game-content-options ul li {
  background-color: #bccddc;
  text-align: center;
  color: white;
}

.new-game-content-options ul li:hover {
  background-color: #314859;
}

.new-game-content-options ul li.active {
  background-color: #314859;
}

.new-game-content-options ul .num-players-btn {
  width: 22%;
}

.new-game-content-options ul .themes-btn,
.new-game-content-options ul .grid-size-btn {
  width: 47%;
}

.new-game-content .start-game-btn {
  margin-top: 1rem;
  width: 100%;
}

:root {
  font-family: "Nanum Gothic", sans-serif;
  color: #314859;
  font-size: 12px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100vh;
}

header {
  width: 100%;
  padding: 2rem;
}

header .title {
  font-size: 2rem;
  font-weight: 800;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header li {
  margin-left: 1rem;
  font-size: 1.25rem;
}

.game-board {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  /* This container is needed to position the front and back side */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}

.game-board .tile {
  background-color: transparent;
  width: 10rem;
  height: 10rem;
}

.game-board .tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.game-board .tile.active.flipped .tile-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.game-board .tile-front,
.game-board .tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.game-board .tile-front {
  background-color: #314859;
  color: white;
}

.game-board .tile-back {
  background-color: #bccddc;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.game-board .tile-back img {
  max-width: 100%;
}

footer {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
}

footer .footer-container {
  background-color: #bccddc;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  width: 15rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .label {
  color: #5782a8;
  font-size: 1.25rem;
}

footer .footer-container .score,
footer .footer-container .num-moves {
  font-size: 3rem;
}

.birthday-present {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #b8a18a;
}

.birthday-present button {
  margin: 1rem;
  font-size: 2.5rem;
}

.message {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 375px) {
  :root {
    font-size: 9px;
  }
  .tile {
    width: 8rem !important;
    height: 8rem !important;
  }
  .birthday-present img {
    width: 100%;
  }
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  :root {
    font-size: 10px;
  }
  .tile {
    width: 8rem !important;
    height: 8rem !important;
  }
  .birthday-present img {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .tile.active:hover .tile-front {
    cursor: pointer;
    background-color: #bccddc;
  }
}
